/*--------------
    RESET
---------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------
    GENERALE
--------------*/

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*---------
    HEADER
----------*/

header {
    background-color: #ff6900;
    color: white;
    padding: 15px 0;
    display: flex;
    
}

ul {
    list-style: none;
}

.main-nav {
    list-style: none;
    justify-content: center;
    flex-direction: row;
    display: flex;
    gap: 10px;
}

.main-nav ul a {
    text-decoration: none;
    color: inherit;
}

.main-nav ul li {
    margin-right: 20px;
    position: relative;
    left: 70px;
    top: 15px;
}

.logo {
    position: relative;
    left: 420px;
}

.logo img {
    width: 30%;
    height: auto;
}

.icons {
    display: flex;
    gap: 10px;
}

/*---------
    IMG
----------*/

.col {
    width: calc(100% / 3);
}